* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: fit-content;
    background-image: linear-gradient(black,black,rgb(73, 73, 73),grey,grey);
}

a {
    text-decoration: none;
    color: whitesmoke;
}




header {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20vh;
    border-bottom: 10px solid rgb(37, 37, 37);
}

header a img {
    margin-top: 5vh;
    width: 60vw;
    height: 150px;
}




main {height: 150vh;}



#video {padding-bottom: 40%;}

iframe {
    float: left;
    margin: 18px;
    margin-top: 0%;
    border-radius: 10px;
    transform: translateY(-50px)
}

#title {
    float: right;
    width: 45%;
    margin-bottom: 6vh;
    margin-right: 5vw;
    font-size: 22px;
}

.info {
    float: right;
    width: 45%;
    word-spacing: 12px;
    margin-right: 5vw;
    padding-bottom: 20vh;
    border-bottom: 0.5px solid lightgray;
    border-radius: 20px;
    font-size: small;
    font-weight: 700;
}

#title, .info {
    color: white;
    text-shadow: 1px 1px 4px black;    
    text-align: center;
}




#form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.671)), url(../HTML_IF/img/Móvel.jpg);
    background-size: 1345px 600px;
    background-repeat: no-repeat;
    height: 580px;
    padding-top: 20vh;
}

#form .info {
    margin-bottom: -15vh;
    margin-left: 4vw;
    margin-top: 5vh;
    float: left;
    border: none;
    color: white;
    text-shadow: 1px 1px 4px black;
    font-size: small;
    font-weight: 700;
}

form {
    transform: translateY(-30vh);
    width: 32%;
    float: right;
    margin-right: 8vw;
}

fieldset {
    height: 350px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid;
}

#accounts {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#accounts a img {
    border-radius: 10px;
    background-color: whitesmoke;
    height: 35px;
    width: 55px;
}

label {
    text-shadow: 1px 1px 15px whitesmoke;
    color: white;
    text-shadow: 1px 1px 4px black;
}

input {
    border-radius: 8px;
    padding: 5px;
    outline: none;
    border: none;
    transition: 0.4s;
}
input:hover {
    padding: 9px;
    outline: 1px solid;
}

label, input {
    margin: 28px;
    font-weight: bold;
}

label[for="termos"] {
    font-size: 12px;
}
#termos {
    margin-top: 8vh;
    margin-left: 6px;
}

button {
    font-weight: bolder;
    transition: 0.4s;
    cursor: pointer;
    width: 20%;
    border-radius: 14px;
    border: none;
    margin-top: 5vh;
    margin-right: 1vw;
    padding: 8px;
}
button:hover {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 4px whitesmoke;
    border: 1px solid grey;
    box-shadow: 0;
    -moz-box-shadow: 0 3px 10px 0 whitesmoke;
    -webkit-box-shadow: 0 3px 10px 0 whitesmoke;
}




footer { 
    text-align: center;
    font-weight: bolder;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: small;
    color: whitesmoke;
    background-color: black;
    margin-top: 27%;
}